<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Login</mat-toolbar>
        <form class="example-form" fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field class="example-full-width" appearance="fill">
                
                <input matInput placeholder="UserName">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="Password" type="Password">
            </mat-form-field>
            <button mat-button type="submit">Login</button>
            <p></p>
        </form>
        <div>Not have an Account<a routerLink="/signup">Sign-Up Here</a></div>
    </mat-card>
</div>
<!-- Task 1 completed mountain to climb -->