<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar color="primary">Sign-Up</mat-toolbar>
        <form class="example-form" fxLayoutAlign="stretch" fxLayout="column">
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="first-name">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="Last-Name" type="text">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="Email" type="email">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="Password" type="Password">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput placeholder="Confirm-Password" type="Password">
            </mat-form-field>

            <button mat-button type="submit" color="warn">Sign-up</button>
            <p></p>
        </form>
    </mat-card>
</div>