<!-- Here goes the navbar  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Vamos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/booking"
            >Registration</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Maps</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">About US</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!-- FORM starting-->
<div
  style="
    padding: 50px;
    background-color: rgb(236, 33, 18);
    width: 100%;
    height: 90%;
  "
>
  <img
    [src]="background_img"
    alt="LOL"
    width="100%"
    height="100%"
    style="margin: none"
  />
</div>
<!-- Form -->
<!--
    this are the insights for our company
-->
<div class="AllDIV">
  <div>
    <!--Hello Div 1-->
  </div>
<div class="col ">
    <div class="card m-2">
        <img class="card-img-top" src="https://static.vecteezy.com/system/resources/previews/005/897/767/original/concept-of-buying-a-voucher-on-the-website-of-a-travel-agency-tickets-for-vacations-tour-search-tourist-card-on-the-background-of-tropical-plants-cute-cartoon-style-illustration-vector.jpg" width="600" height="300" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">About Us</h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
    </div>
    <div class="card m-2">
        <img class="card-img-top" src="https://www.freepik.com/vectors/adventure" width="500" height="300" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Schedule Your Trip</h3>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        
    </div>
    <div class="card m-2">
        <img class="card-img-top" src="https://thumbs.dreamstime.com/b/people-planning-concept-entrepreneurship-calendar-schedule-vector-business-meeting-events-organizing-filling-course-160993060.jpg" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Updates On Your Trip</h3>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This card has even longer content than the first to show that equal height action.</p>
        </div>
        
    </div>
</div>
  <div>
    <!-- Inside the div 3-->
  </div>
  <div>
    <!--  -->
    <h3>Schedule For Your Upcoming Journey</h3>
    <iframe src="https://outlook.office365.com/owa/calendar/005f26c15ed84d6cb459a6e1e4f17c6c@7c5n1r.onmicrosoft.com/38a06205380c4cb78842fa6231cc218217074555926237154735/calendar.html" scrolling="no" width="700" height="500" frameborder="0"></iframe>
  </div>
</div>
<!--
    footer
-->
<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Vamos
          </h6>
          <p>
            Here you can use rows and columns to organize your footer content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Products</h6>
          <p>
            <a href="#!" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-reset">React</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> Bangalore,  MSR Nagar, INDIA - KARNATAKA</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@example.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2022 Copyright:
    <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
      >Vamos.com</a
    >
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
